
*.o
z64audio
.vscode/*
uncrustify.cfg
__include/*
compile_flags.txt
*.wav
*.aiff
*.table
*.aifc
output/*
*.bin
wowlib/
*.exe
tabledesign
vadpcm_dec
vadpcm_enc
!sdk/tabledesign
!sdk/vadpcm_dec
!sdk/vadpcm_enc
*.book
